<div class="col-sm-10">
  <p>
    <strong>Kabar24.com,</strong> JAKARTA – Siswa yang selamat dari insiden penembakan massal paling mematikan di sebuah sekolah menengah di AS bereaksi setelah Presiden AS Donald Trump mengatakan FBI mungkin terlalu fokus dengan penyelidikan Rusia sehingga melewatkan petunjuk yang dapat mencegah penembakan tersebut.
  </p>
  <p>
    "Sangat menyedihkan bahwa FBI melewatkan begitu banyak tanda-tanda dari penembak di sekolah di Florida. Ini tidak dapat diterima. Mereka menghabiskan terlalu banyak waktu untuk membuktikan kolusi Rusia dengan kampanye Trump, tidak ada kolusi," kicau Trump di akun Twitternya.
  </p>
  <div class="liat-juga" style="background-color:#eaeaea;padding: 20px 25px;">
    <h2>BACA JUGA :</h2
    <ul>
      <li> <a href="http://kabar24.bisnis.com/read/20180205/19/734374/berupaya-hentikan-penyelidikan-fbi-trump-picu-krisis-konstitusional" title="Trump Terus Tantang FBI" target="_blank">Trump Terus Tantang FBI</a> </li>
      <li> <a href="http://kabar24.bisnis.com/read/20170928/19/693794/facebook-twitter-google-audiensi-publik-ungkap-dugaan-intervensi-rusia-dalam-pemilu-as" title="Facebook, Twitter &amp; Google Ungkap Trump" target="_blank">Facebook, Twitter &amp; Google Ungkap Trump</a> </li>
      <li> <a href="http://kabar24.bisnis.com/read/20171222/19/720781/128-negara-pbb-tolak-trump" title="128 Negara PBB Tolak Trump" target="_blank">128 Negara PBB Tolak Trump</a> </li>
    </ul>
  </div>
  <p>
    Trump tidak memberikan bukti bahwa ada kaitan antara penyelidikan campur tangan Rusia dan kegagalan FBI untuk mencegah penembakan di Florida.
  </p>
  <p>
    "Ya Tuhan, 17 teman saya tewas dan Anda memiliki keberanian untuk menghubungkannya dengan Rusia ???", Morgan Williams, seorang siswa tingkat 3 berusia 16 tahun, mengatakan pada akun Twitternya sebagai tanggapan atas pesan Trump, seperti dikutip Reuters.
  </p>
  <p>
    Sementara itu, FBI mengakui pada hari Jumat bahwa mereka gagal untuk menyelidiki sebuah peringatan bahwa Nikolas Cruz memiliki senjata dan keinginan untuk membunuh. Cruz didakwa atas pembunuhan 17 orang di Marjory Stoneman Douglas High School di Parkland, Florida.</p><p>Sementara itu, seorang siswa lain mengatakan bahwa mereka ingin pihak berwajib mengambil tindakan, bukan justru saling menyalahkan satu sama lain.
  </p>
  <p>
    "Anda tahu apa yang tidak bisa diterima? Menyalahkan semua orang kecuali penembak dan kurangnya kontrol senjata di negara kita. Anda bahkan menyalahkan para siswa," kata Carly Novell, seorang siswa tingkat akhir di Douglas, seperti dikutip Reuters.
  </p>
  <p>
    “Kami melaporkannya, kami mencoba. Tapi bagaimana kita bisa tahu apa yang akan terjadi? Kurangnya simpati Anda membuktikan betapa menyedihkannya Anda," lanjutnya.
  </p>
  <div class="tags">
    Tag : <a href="">Donald Trump</a>
    <div class="editor">Editor : Fajar Sidik</div>
  </div>
</div>
